:root {
  font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  margin: 0;
}

label {
  font-weight: bold;
}

.tal {
  text-align: left !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ant-page-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-layout-header {
  height: auto !important;
  padding-inline: 0 !important;
  background: transparent !important;
}

.header-column .ant-page-header-heading-left {
  flex-direction: column;
  align-items: flex-start;
}

.ant-card {
  display: grid;
}

.ant-card-meta-title {
  white-space: pre-line !important;
}

.login-container,
.registration-container {
  min-height: calc(100vh - 60px);
  display: grid;
  place-items: center;
}

.login-container h1,
.registration-container h1 {
  margin-bottom: 0;
}

/* === COMMON TRANSITIONS === */

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.3);
}

.fade-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-enter-active,
.fade-leave-active,
.fade-move {
  transition: all 0.5s;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.move-leave-active {
  position: absolute;
}

.move-enter-active,
.move-leave-active,
.move-move {
  transition: all 0.3s ease-in-out;
}
